<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.mapper.es.ZcTagUserDao">
    <resultMap id="zcTagUserMap" type="com.mt.database.ZcTagUser">
          <id property="uuid" column="uuid"/>
          <result property="tagName" column="tag_name"/>
          <result property="userUuid" column="user_uuid"/>
          <result property="createTime" column="create_time"/>
          <result property="updateTime" column="update_time"/>
    </resultMap>



    <select id="selectTagNamesByTagUuid" resultType="string" parameterType="map">
        select
        ztu.tag_name
        from zc_tag_user ztu
        <trim prefix="where" prefixOverrides="and|or">
            <if test="tagUuid != null and tagUuid !=''">
                and ztu.uuid in
                <foreach collection="tagUuid.split(',')" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </trim>
    </select>

</mapper>
