<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.mapper.onnew.TemplateShopifyLogExtMapper">

    <resultMap id="BaseResultMap" type="com.mt.database.TemplateShopifyLogDO"
               extends="com.mt.mapper.onnew.TemplateShopifyLogMapper.BaseResultMap">
    </resultMap>

    <resultMap id="zcMachineUserMap" type="com.mt.database.ZcMachineUser">
        <id property="uuid" column="uuid"/>
        <result property="bindUuid" column="bind_uuid"/>
        <result property="machineUuid" column="machine_uuid"/>
        <result property="userUuid" column="user_uuid"/>
        <result property="unit" column="unit"/>
        <result property="industry" column="industry"/>
        <result property="systemSign" column="system_sign"/>
        <result property="department" column="department"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="userInfoMap" type="com.mt.database.UserInfo">
        <id property="id" column="id"/>
        <id property="uuid" column="uuid"/>
        <result property="systemRoleUuid" column="system_role_uuid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="status" column="status"/>
        <result property="ifResetPassword" column="if_reset_password"/>
        <result property="createTime" column="create_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="bindUuid" column="bind_uuid"/>
        <result property="orgUuid" column="org_uuid"/>
        <result property="orgName" column="org_name"/>
        <result property="ifDoubleAuthen" column="if_double_authen"/>
        <result property="isBindWx" column="is_bind_wx"/>
        <result property="registerCode" column="register_code"/>
        <result property="address" column="address"/>
        <result property="department" column="department"/>
        <result property="dutuies" column="dutuies"/>
        <result property="cityCode" column="city_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="provinceCode" column="province_code"/>
        <result property="remark" column="remark"/>
        <result property="agencyName" column="agency_name"/>
        <result property="unit" column="unit"/>
        <result property="industry" column="industry"/>
        <result property="validTime" column="valid_time"/>
        <result property="todayInstallCount" column="todayInstallCount"/>
        <result property="allInstallCount" column="allInstallCount"/>
        <result property="systemSign" column="system_sign"/>
        <result property="bindUuid" column="bind_uuid"/>
        <result property="accessCode" column="access_code"/>
        <result property="authType" column="auth_type"/>
        <result property="beginTime" column="begin_time"/>
        <result property="installNumber" column="install_number"/>
        <result property="lastStatusErrorTime" column="last_status_error_time"/>
    </resultMap>

    <sql id="BaseColumn">
             `id`,
            `task_id`,
            `platfrom`,
            `site`,
            `start_time`,
            `end_time`,
            `status`,
            `success_data`,
            `fail_data`,
            `create_by`,
            `update_by`,
            `is_delete`            
    </sql>

    <!--通过TaskId修改数据-->
    <update id="updateByTaskId">
        update `template_shopify_log`
        <set>
            <if test="platfrom != null and platfrom != ''">
                `platfrom` = #{platfrom},
            </if>
            <if test="site != null and site != ''">
                `site` = #{site},
            </if>
            <if test="startTime != null">
                `start_time` = #{startTime},
            </if>
            <if test="endTime != null">
                `end_time` = #{endTime},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="successData != null">
                `success_data` = #{successData},
            </if>
            <if test="failData != null">
                `fail_data` = #{failData},
            </if>
            <if test="createBy != null and createBy != ''">
                `create_by` = #{createBy},
            </if>
            <if test="updateBy != null and updateBy != ''">
                `update_by` = #{updateBy},
            </if>
            <if test="delete != null">
                `is_delete` = #{delete},
            </if>
        </set>
        where `task_id` = #{taskId}
    </update>

    <resultMap id="ZcMachineTagName" type="com.mt.database.ZcMachineTagName">
        <result property="tagName" column="tag_name"/>
        <collection property="macUuids"
                    ofType="com.mt.database.ZcMachineTagName1">
            <result property="uuid" column="machine_uuid"/>
        </collection>
    </resultMap>

    <select id="selectMachineUuidsByTagName" resultMap="ZcMachineTagName" parameterType="map">
        select
        ztu.tag_name,
        zmt.machine_uuid
        from zc_machine_tag zmt
        join zc_tag_user ztu on zmt.tag_uuid = ztu.uuid
        join (
        select zmu.machine_uuid from zc_machine_user zmu
        join zc_machine zm on zm.uuid = zmu.machine_uuid
        where
        zmu.user_uuid = #{userUuid}
        and zm.if_delete = 0
        <if test="onlineStatus != null">
            and zm.online_status = #{onlineStatus}
        </if>
        ) t on zmt.machine_uuid = t.machine_uuid
        where  ztu.user_uuid = #{userUuid}
        <if test="tagName != null and tagName !=''">
            and ztu.tag_name in
            <foreach collection="tagName.split(',')" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="listByAllIds" resultType="com.mt.database.SystemWhiteListAndMachine">
        select id, white_list_id as whiteListId, machine_uuid as machineUuid from system_white_list_and_machine
        where white_list_id in
        <foreach collection="whiteListId" item="sysid" open="(" close=")" separator=",">
            #{sysid}
        </foreach>
    </select>


    <select id="searchAllZcMachineUser" resultMap="zcMachineUserMap">
        select zm.bind_uuid,zmu.* from prm_test.zc_machine_user zmu
                              JOIN prm_test.zc_machine zm ON zm.uuid = zmu.machine_uuid
        where
            zm.if_delete = 0
          AND zmu.user_uuid IN ( SELECT DISTINCT ui.uuid FROM prm_test.user_info ui JOIN prm_test.system_agency sa ON sa.access_code = ui.access_code )
          and zmu.machine_uuid in (select t.machine_uuid
                                   from
                                       (SELECT
                                            zmu.machine_uuid,
                                            count( 1 ) AS count
                                        FROM
                                            prm_test.zc_machine_user zmu
                                            JOIN prm_test.zc_machine zm ON zm.uuid = zmu.machine_uuid
                                        WHERE
                                            zm.if_delete = 0
                                          AND zmu.user_uuid IN ( SELECT DISTINCT ui.uuid FROM prm_test.user_info ui JOIN prm_test.system_agency sa ON sa.access_code = ui.access_code )
                                        GROUP BY
                                            zmu.machine_uuid HAVING count >= 2) t)
    </select>


    <select id="selectBySystemStatus" resultMap="userInfoMap">
        select ui.id,
               ui.uuid,
               ui.system_role_uuid,
               ui.username,
               ui.password,
               ui.name,
               ui.phone,
               ui.email,
               ui.unit,
               ui.wechat_id,
               ui.system_sign,
               ui.status,
               ui.if_reset_password,
               ui.create_time,
               ui.last_login_time,
               ui.last_login_ip,
               ui.register_code,
               ui.access_code,
               ui.install_number,
               ui.bind_uuid
        from user_info ui
        where ui.bind_uuid = #{bindUuid}
    </select>

</mapper>
